<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.gitwarmsun.mapper.UserMapper">
    <!-- 定义结果映射 -->
    <resultMap id="UserResultMap" type="org.example.gitwarmsun.model.User">
        <id property="userId" column="user_id" />
        <result property="username" column="username" />
        <result property="email" column="email" />
        <result property="phoneNumber" column="phone_number" />
        <result property="passwordHash" column="password_hash" />
        <result property="salt" column="salt" />
        <result property="status" column="status" />

    </resultMap>

    <insert id="insertUser">
        INSERT INTO users (username, email, password_hash, salt) 
        VALUES (#{username}, #{email}, #{passwordHash}, #{salt})
    </insert>

    <select id="selectUserByUsername" resultMap="UserResultMap">
        SELECT * FROM users WHERE username = #{username}
    </select>
</mapper>